<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/javascript.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/css.css">
<div id="body2" ng-app="">
  <title>Income Calculation</title>

</head>
<h5> Chose a billionair, and calcuate how long it would take you to make their net wealth!</h5><br>
<center>
	<table id="table" class="form-group">
		<tr> <td id="td2" data-bill="Bill Gates">Bill Gates<br><img id="bill" src="img/bill-gates.jpg" alt="..." class="img-rounded"><td data-bill="Larry Ellison">Larry Ellison<br><img id="larry" src="img/larry.jpg" alt="..." class="img-rounded"><td data-bill="Ingvar Kamprad">Ingvar Kamprad<br><img id="kam" src="img/kam.jpeg" alt="..." class="img-rounded"><td data-bill="Amancio Ortega">Amancio Ortega<br><img id="ortega" src="img/Ortega.jpg" alt="..." class="img-rounded"><td data-bill="Carlos Slim Helu">Carlos Slim Helu<br><img id="carlos" src="img/carlos.jpg" alt="..." class="img-rounded"><td data-bill="Warren Buffett">Warren Buffett<br><img id="warren" src="img/warren.jpg" alt="..." class="img-rounded"><tr>
	</table>
	<span id="spam"> 1 lifetime = 75 years</span>

<body>
  
 	<br>
 	
 	<i>Your income per year <br> $<input id='text1' input='text'></input>

 	<p id="input" ng-model="number"></p>

 <!-- 	Sec :<p id="result" ng-number="number">{{ number }}</p> -->
 	<span id="jq_result"><span>

 		<!-- <input id='text2' ng-model="number" input='text'></input>
 		<p id="result2" ng-number="number">{{ number }}</p> -->
  	
  </div>
</body>

</html>